body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    background-color: white;
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.question{
    background-color: rgba(38, 72, 187, 0.781);
    padding: 5px;
    color: white;   
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.answer{
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 8px 8px rgb(179, 181, 182);
    padding: 10px;
    display: none;
}
.add{
    cursor: pointer;
    display: block;
}

/* 1. Hide the remove button and answer by default */

.faq-box .remove , .answer{
    display: none;
}

/* 2. When the parent (faq-box) has 'active', SHOW answer and remove icon */
.faq-box.active .answer {
    display: block;
}
.faq-box.active .remove {
    display: block;
}

/* 3. When the parent (faq-box) has 'active', HIDE the add icon */
.faq-box.active .add {
    display: none;
}