
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1a1a2e; 
    font-family: sans-serif;
    color: white;
    overflow: hidden; 
}


.outsideContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    gap: 15px; 
}

.header, .footer {
    height: 80px;
    flex-shrink: 0; 
}

.main {
    flex: 1; 
    display: grid;
    gap: 15px; 
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: 
        "sidebar content1 content1"
        "sidebar content2 content3";
}

.sidebar  { grid-area: sidebar; }
.content1 { grid-area: content1; }
.content2 { grid-area: content2; }
.content3 { grid-area: content3; }


.header, .footer, .sidebar, .content1, .content2, .content3 {
    border: 3px solid #161625; 
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.header, .footer {
    background: linear-gradient(to right, #7b5ce9, #9b7bf7);
}

.sidebar {
    background: linear-gradient(to bottom, #42dccb, #30a59a);
}

.content1, .content2, .content3 {
    background: linear-gradient(135deg, #4a8cfa, #29bbf2);
}